footer, footer>* {
    border: thin solid rgb(255, 255, 255);
}


footer {
    width: 100%;
    height: 500px;
    background: #0e112a;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}