.skill-section {
  .skill-item-parent {
    padding: 5px;
    display: flex;
    max-width: 800px;
    margin: 10px;
    border-radius: 10px;
  }

  .skill-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    /* height: 3.71cm; */
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;

    .tag {
      font-size: small;
      padding: 1px;
    }
  }

  .divider {
    border: thin solid white;
    border-radius: 10px;
    margin-right: 5px;
  }

  .skill-card-title {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
  }

  .skill-card-body ul {
    list-style-position: inside;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
  }

  .skill-card-body ul li {
    font-size: medium;
  }

  .skill-detail {
    width: 60%;
    padding-top: 10px;
    padding-left: 20px;
    li {
      list-style-type: disc;
      font-size: small;
    }
  }
}

@media screen and (min-width: 800px) {
  .skill-item-parent {
    width: 800px;
  }
}

@media screen and (max-width: 600px) {
  .skill-item-parent {
    flex-direction: column;
    align-items: center;
  }

  .skill-detail {
    width: 90%;
  }

  .skill-section {
    .skill-item {
      width: 90%;
    }
    .divider {
      width: 100%;
    }
    .skill-detail {
      width: 90%;
    }
  }
}
