* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* border: thin solid rgba(255, 255, 255, 0.05); */
  color: white;
}


/* here I write page layout */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

section {
  padding: 10px;
}

section>.container {
  margin: auto;
  max-width: 1200px;
  padding: 50px 12px;
}
